$text-light: #FDE5D8;
$text-light-highlight: #81726a;
$text-dark: #130701;
$text-dark-highlight: #4e1e04;

$link-normal: #dd560c;
$link-hover: #f4712a;

$text-light-01: #FDE5D8;
$text-light-02: #EFD8CC;
$text-light-03: #E1CBC0;
$text-light-04: #D4BFB3;
$text-light-05: #C6B2A7;
$text-light-06: #B8A59B;
$text-light-07: #AA988F;
$text-light-08: #9D8C82;
$text-light-09: #8F7F76;
$text-light-10: #81726A;



$color-black: #000;

$c-text-base: #56CAD2;
$c-text-dark-1: #4DB6BD;
$c-text-dark-2: #44A2A8;
$c-text-dark-3: #3B8E93;
$c-text-dark-4: #327A7E;
$c-text-dark-5: #296669;
$c-text-dark-6: #205254;
$c-text-dark-7: #173E3F;
$c-text-dark-8: #0E2A2A;
$c-text-dark-9: #051615;
$c-text-light-1: #67CFD7;
$c-text-light-2: #78D4DC;
$c-text-light-3: #89D9E1;
$c-text-light-4: #9ADEE6;
$c-text-light-5: #ABE3EB;
$c-text-light-6: #BCE8F0;
$c-text-light-7: #CDEDF5;
$c-text-light-8: #DEF2FA;
$c-text-light-9: #EFF7FF;

$c-back-base: #404257;
$c-back-dark-1: #3A3B4E;
$c-back-dark-2: #343445;
$c-back-dark-3: #2E2D3C;
$c-back-dark-4: #282633;
$c-back-dark-5: #221F2A;
$c-back-dark-6: #1C1821;
$c-back-dark-7: #161118;
$c-back-dark-8: #100A0F;
$c-back-dark-9: #0A0306;
$c-back-light-1: #535568;
$c-back-light-2: #666879;
$c-back-light-3: #797B8A;
$c-back-light-4: #8C8E9B;
$c-back-light-5: #9FA1AC;
$c-back-light-6: #B2B4BD;
$c-back-light-7: #C5C7CE;
$c-back-light-8: #D8DADF;
$c-back-light-9: #EBEDF0;

$c-succ-base: #90FF7D;
$c-succ-dark-1: #82E570;
$c-succ-dark-2: #74CB63;
$c-succ-dark-3: #66B156;
$c-succ-dark-4: #589749;
$c-succ-dark-5: #4A7D3C;
$c-succ-dark-6: #3C632F;
$c-succ-dark-7: #2E4922;
$c-succ-dark-8: #202F15;
$c-succ-dark-9: #121508;
$c-succ-light-1: #9BFF8A;
$c-succ-light-2: #A6FF97;
$c-succ-light-3: #B1FFA4;
$c-succ-light-4: #BCFFB1;
$c-succ-light-5: #C7FFBE;
$c-succ-light-6: #D2FFCB;
$c-succ-light-7: #DDFFD8;
$c-succ-light-8: #E8FFE5;
$c-succ-light-9: #F3FFF2;

$c-warn-base: #FFFD8D;
$c-warn-dark-1: #E5E47F;
$c-warn-dark-2: #CBCB71;
$c-warn-dark-3: #B1B263;
$c-warn-dark-4: #979955;
$c-warn-dark-5: #7D8047;
$c-warn-dark-6: #636739;
$c-warn-dark-7: #494E2B;
$c-warn-dark-8: #2F351D;
$c-warn-dark-9: #151C0F;
$c-warn-light-1: #FFFD98;
$c-warn-light-2: #FFFDA3;
$c-warn-light-3: #FFFDAE;
$c-warn-light-4: #FFFDB9;
$c-warn-light-5: #FFFDC4;
$c-warn-light-6: #FFFDCF;
$c-warn-light-7: #FFFDDA;
$c-warn-light-8: #FFFDE5;
$c-warn-light-9: #FFFDF0;

$c-erro-base: #EA5864;
$c-erro-dark-1: #D34F5A;
$c-erro-dark-2: #BC4650;
$c-erro-dark-3: #A53D46;
$c-erro-dark-4: #8E343C;
$c-erro-dark-5: #772B32;
$c-erro-dark-6: #602228;
$c-erro-dark-7: #49191E;
$c-erro-dark-8: #321014;
$c-erro-dark-9: #1B070A;
$c-erro-light-1: #EC6974;
$c-erro-light-2: #EE7A84;
$c-erro-light-3: #F08B94;
$c-erro-light-4: #F29CA4;
$c-erro-light-5: #F4ADB4;
$c-erro-light-6: #F6BEC4;
$c-erro-light-7: #F8CFD4;
$c-erro-light-8: #FAE0E4;
$c-erro-light-9: #FCF1F4;
