@import 'includables';

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #302F32;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  font-variant: small-caps;
}

.btn-grp {
  padding: 0;

  .btn {
    margin: 0;

    &:first-child {
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
    }
  }
}

.pull-right {
  float: right;
}

.btn {
  -webkit-appearance: none !important;
  background-color: chocolate;
  border: 1px solid mix(chocolate, black);
  color: white;
  padding: 3px 6px;

  &.active,
  &:hover {
    cursor: pointer;
    background-color: mix(chocolate, black);
    border: 1px solid mix(chocolate, black, 75%);
  }
  &:focus { outline: 0; }

  &[disabled],
  &[disabled]:hover {
    cursor: default;
    background-color: grey;
  }
}
