<h1>{{rating}}</h1>
<br>
<p>Score: {{state.score}}</p>
<input *ngIf="!saved" [(ngModel)]="name" type="text" required>
<button *ngIf="!saved" class="btn" (click)="saveHighScore()">Speichern</button>
<br>
<button class="btn" (click)="mainMenu()">Main Menu</button>
