<div class="wrapper">
  <table [class]="classTable">
    <thead>
    <tr (click)="onHeaderClick($event)">
      <ng-container [ngTemplateOutlet]="templateHead"></ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of pagedData; let rowIndex = index; trackBy:trackByFunction">
      <ng-container [ngTemplateOutlet]="templateBody" [ngTemplateOutletContext]="{ $implicit: row }"></ng-container>
    </tr>
    </tbody>
  </table>

  <div class="table__paging" *ngIf="pages !== 0">
    <button (click)="pageBack()" class="btn" [disabled]="currentPage === 0">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button (click)="pageNext()" class="btn" [disabled]="currentPage === (pages -1)">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
