<h1>Options</h1>
<button [ngClass]="{'active': state.speed == 10}" (click)="setGameSpeed(10)" class="btn">Easy</button>
<button [ngClass]="{'active': state.speed == 25}" (click)="setGameSpeed(25)" class="btn">Medium</button>
<button [ngClass]="{'active': state.speed == 50}" (click)="setGameSpeed(50)" class="btn">Hard</button>
<br>
<button [ngClass]="{'active': targetFPS == 15}" (click)="setFPS(15)" class="btn">15 FPS</button>
<button [ngClass]="{'active': targetFPS == 30}" (click)="setFPS(30)" class="btn">30 FPS</button>
<button [ngClass]="{'active': targetFPS == 60}" (click)="setFPS(60)" class="btn">60 FPS</button>
<br>
<button (click)="toggleDPad()" class="btn">{{state.dPad ? 'Disable' : 'Enable'}} DPad</button>
<br>
<button class="btn" (click)="back()">Back</button>
