<h1>Sangular</h1>
<button class="btn" (click)="newGame()">New Game</button>
<button class="btn" (click)="highScores()">High Scores</button>
<button class="btn" (click)="options()">Options</button>
<br>
<h2>Controls:</h2>
<span>W/A/S/D: Movement</span>
<span>ESC: Pause</span>
