<h1>High Scores</h1>

<helper-table
    *ngIf="highScoresState?.highScores?.length > 0"
    [data]="highScoresState?.highScores"
    [pageSize]="10">

  <ng-template #head>
    <th class="td-score">
      Score
    </th>
    <th class="td-name">
      Name
    </th>
  </ng-template>

  <ng-template #body let-row>
    <td class="td-score">
      {{row?.score}}
    </td>
    <td class="td-name">
      {{row?.name}}
    </td>
  </ng-template>
</helper-table>

<ng-container *ngIf="noHighScores">
  <p>Strange, there are no high scores, do you have an internet connection?</p>
</ng-container>

<br>
<button class="btn" (click)="back()">Back</button>



