:host {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button, span {
    margin-top: 2px;
    display: blocK;
}

span {
    display: inline-block;
}

.td-score {
    text-align: right;
    width: 25%;
}

.td-name {
    text-align: center;
}

::ng-deep {
    .wrapper,
    table {
        height: 100%;
        width: 310px;
    }

    td {
        padding: 2px 10px;
    }

    th {
        padding-bottom: 15px;
    }

    .table__paging {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
}
