:host {
    font-family: Helvetica, Arial, sans-serif;
    color: chocolate;
    display: flex;
    flex-direction: row;
}

h1, h2, h3 {
    font-variant: small-caps;
}

div {
    padding: 20px;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    .hidden-small {
        display: none;
    }
}
