<div class="hidden-small"></div>

<div>
  <h1>Snangular</h1>
  <h2>Snake, but build with Angular, TypeScript and Webpack</h2>

  <button routerLink="/play">Play -></button>
</div>

<div class="hidden-small"></div>
