<div class="wrapper">
  <div class="d-pad">
    <button (click)="onClickUp()" class="up">
      <i class="fas fa-2x fa-caret-up"></i>
    </button>
    <button (click)="onClickDown()" class="down">
      <i class="fas fa-2x fa-caret-down"></i>
    </button>
    <button (click)="onClickLeft()" class="left">
      <i class="fas fa-2x fa-caret-left"></i>
    </button>
    <button (click)="onClickRight()" class="right">
      <i class="fas fa-2x fa-caret-right"></i>
    </button>
  </div>
</div>
