$buttonSymbolHeight: 10px;

.wrapper {
  position: relative;
  height: 150px;
  width: 150px;
}

.up, .down, .left, .right {
  position: absolute;
  z-index: 1001;
  width: 50px;
  height: 50px;
  background: rgba(255, 160, 58, 0.75);
  border: 1px solid #915515;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;

  &:focus {
    outline:0;
  }
  &:active {
    background: rgba(255, 160, 58, 0.5);
  }

  span {
    position: absolute;
    width: 0;
    height: 0;
  }
}


.up {
  top: 0;
  left: calc((100% - 50px) / 2);

  span {
    border-left: $buttonSymbolHeight solid transparent;
    border-right: $buttonSymbolHeight solid transparent;
    border-bottom: $buttonSymbolHeight solid black;
  }
}

.down {
  top: calc(100% - 50px);
  left: calc((100% - 50px) / 2);

  span {
    border-left: $buttonSymbolHeight solid transparent;
    border-right: $buttonSymbolHeight solid transparent;
    border-top: $buttonSymbolHeight solid black;
  }
}

.left {
  top: calc((100% - 50px) / 2);
  left: 0;

  span {
    border-top: $buttonSymbolHeight solid transparent;
    border-bottom: $buttonSymbolHeight solid transparent;
    border-right: $buttonSymbolHeight solid black;
  }
}

.right {
  top: calc((100% - 50px) / 2);
  left: calc(100% - 50px);

  span {
    border-top: $buttonSymbolHeight solid transparent;
    border-bottom: $buttonSymbolHeight solid transparent;
    border-left: $buttonSymbolHeight solid black;
  }
}
