<h1>Pause</h1>
<button class="btn" (click)="resume()">Resume</button>
<br>
<button class="btn" (click)="highScores()">High Scores</button>
<button class="btn" (click)="options()">Options</button>
<button class="btn" (click)="quit()">Quit</button>
<br>
<h2>Controls:</h2>
<span>W/A/S/D: Movement</span>
<span>ESC: Pause</span>
