<div class="game_wrapper" #gameCanvas
     [style.width]="gameArea?.x + 'px'"
     [style.height]="gameArea?.y + 'px'">

  <div
      class="game-canvas"
      ngClass="{'focus':!paused}">

    <div class="wrapper__open-options" *ngIf="state.screen == null" (click)="openOptions()">
      <i class="fas fa-2x fa-cogs"></i>
    </div>

    <div class="wrapper__new-game blocker" *ngIf="state.screen == eScreens.NewGame">
      <new-game></new-game>
    </div>

    <div class="wrapper__pause blocker" *ngIf="state.screen == eScreens.Pause">
      <pause></pause>
    </div>

    <div class="wrapper__gmae-over blocker" *ngIf="state.screen == eScreens.GameOver">
      <game-over></game-over>
    </div>

    <div class="wrapper__highescores blocker" *ngIf="state.screen == eScreens.HighScores">
      <high-scores></high-scores>
    </div>

    <div class="wrapper__options blocker" *ngIf="state.screen == eScreens.Options">
      <options></options>
    </div>


    <div #snakehead
         class="snake-head"
         [style.left]="head?.position.x + 'px'"
         [style.top]="head?.position.y + 'px'"></div>

    <div *ngFor="let segment of body" class="snake-body"
         [style.left]="segment?.position.x + 'px'"
         [style.top]="segment?.position.y + 'px'"></div>

    <div *ngFor="let item of activeItems" class="item"
         [style.left]="item?.position.x + 'px'"
         [style.top]="item?.position.y + 'px'"></div>

  </div>

</div>

<p>FPS: {{gameLoop.fps}}</p>

<div class="d-pad__wrapper" [ngClass]="{'show': state.dPad}">
  <d-pad
      [handlerUp]="changeDirectionUp.bind(this)"
      [handlerDown]="changeDirectionDown.bind(this)"
      [handlerLeft]="changeDirectionLeft.bind(this)"
      [handlerRight]="changeDirectionRight.bind(this)"
  ></d-pad>
</div>
