:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game_wrapper {
  height: 90%;
  width: 90%;
}

.game-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #4C4A4F;

  .snake-body,
  .snake-head,
  .item {
    position: absolute;
    height: 20px;
    width: 20px;
  }

  .snake-head {
    background-color: chocolate;
    z-index: 100;
  }

  .snake-body {
    background-color: mix(chocolate, #4C4A4F);
    z-index: 50;
  }

  .item {
    background-color: mix(chocolate, #4C4A4F);
    z-index: 50;
  }

  .wrapper__open-options {
    position: absolute;
    z-index: 200;
    top: 10px;
    right: 10px;
  }

  .blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    display: flex;
    justify-content: center;
  }

}
.d-pad__wrapper {
  display: none;
  margin-top: 25px;

  &.show {
    display: inline-block;
  }
}

@media only screen and (max-width: 1024px) {

  .d-pad__wrapper {
    display: inline-block;
  }
}

